/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
mx|ToolTip
{
	backgroundColor: #FFFFFF;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	color: #000000;
}
mx|Form
{
	backgroundColor: #FFFFFF;
	chromeColor: #CDCDCD;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	focus-color: #000000;
}
mx|Button
{
	backgroundColor: #FFFFFF;
	chromeColor: #CDCDCD;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
}
s|Button
{
	backgroundColor: #FFFFFF;
	chromeColor: #CDCDCD;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
}
mx|Panel
{
	backgroundColor: #FFFFFF;
	chromeColor: #CDCDCD;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
}
mx|Alert
{
	backgroundColor: #FFFFFF;
	chromeColor: #CDCDCD;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	font-style: italic;
}
mx|DataGrid
{
	alternatingItemColors: #EEEEEE, white;
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	chrome-color: #CDCDCD;
	rollOverColor: #CDCDCD;
	selectionColor: #CDCDCD;
}
mx|TextInput
{
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	focus-color: #000000;
}
s|TextInput
{
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	focus-color: #000000;
}
s|Label
{
	font-family: Verdana;
	fontSize: 14;
	fontWeight: bold;
	focus-color: #000000;
}
mx|HBox
{
	verticalAlign: middle;
}